PORT=3100
HOST=0.0.0.0
NODE_ENV=development
BCRYPT_SALT_ROUNDS=10

DB_HOST=hos_de_la_db
DB_PORT=5434
DB_USER=user_db
DB_PASSWORD=password_db
DB_DATABASE=db_name

REDIS_HOST=hos_de_redis
REDIS_PORT=6381
REDIS_PASSWORD=password_redis
SESSION_TTL=14400
